// Map Class names to CSS content values.

$font-icons: (
	// Menu icons
	home: e600,
	search: e601,
	star-outline: e602,
	info-outline: e603,
	location-on: e604,
	menu: e605,
	filter: ea5b,
	left-arrow: e200,
	error: e000,
	check: e206,
	check_circle: e281,
	life-bouy: f1cd,
	credit-card: e606,
	flag: e607,
	ticket: e939,
	refresh: f021,
	times-circle: f057,
	angle-left: f104,
	angle-right: f105,
	phone: f095,
	email: e04c,
	comments-o: f0e6
);
