@import "../../sass/grid.scss";

.LayoutTopBarRightMenu {

  .Content {
    overflow-y: scroll;
    background: #F9F9F9;
    height: 10000px;
  }

  .RightBar {
    height: 10000px;
    background: #E4E4E4;
    border-left: 1px solid #C5C5C5;
    position: relative;
    z-index: 3;
  }

}
