.AdminNavComponent {
  background: #C7C7C7;

  a {
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    color: #5D5DDC;
    text-decoration: underline;
  }

  .active {
    a {
      color: black;
    }
  }

}