.AdminNavComponent {
  background: #FFA955;
  height: 100%;

  a {
    font-size: 14px;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    color: white;
  }

  .active {
    a {
      color: black;
    }
  }

}