html {
	background-color: $white;
}

html,
body {
	height: 100%;
}

body {
	@include font-smoothing;
	color: $body-text;
	font-family: $font-stack;
	height: 100%;
	min-width: 100%;
	position: relative;
	width: 100%;
}

a {
	color: $anchor-color;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

strong {
	&.strongest {
		font-weight: bold;
	}
	&.stronger {
		font-weight: 700;
	}
}

// TODO: Remove after CSS migration.
// scss-lint:disable all
.clearfix{ *zoom:1; }
.clearfix:before,.clearfix:after{ display:table; content:""; line-height:0; }
.clearfix:after{ clear:both; }

.truncate {
	@include ellipsis(true);
	display: block;
}


//.clearfix {
//	@include clearfix;
//}

/*=====================================================
  Ink animations for focused state on buttons
=====================================================*/

.ink-button {

	overflow: hidden;
	position: relative;

	.ink {

		@include transform(scale(0));

		display: block;
		position: absolute;
		background: $gray-lighter;
		border-radius: 100%;

		&.animate {
			@include animation(ripple 0.6s linear);
		}

		@include keyframes(ripple) {
			100% {
				opacity: 0;
				@include transform(scale(3.5));
			}
		};

	}

}


/*=====================================================
  Mobile Default Select Menus
=====================================================*/

label{
	border:medium none;
	border-radius:0 0 0 0;
	color:#393E41;
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:600;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
select{
	background-color:#f1f1f1;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDRweCIgaGVpZ2h0PSI0NHB4IiB2aWV3Qm94PSIwIDAgNDQgNDQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ0IDQ0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiMzOTNFNDEiIHBvaW50cz0iMzEsMTguMjE2IDI5LjU2OCwxNi43ODQgMjIsMjQuMzUyIDE0LjQzMiwxNi43ODQgMTMsMTguMjE2IDIyLDI3LjIxNiAiLz4NCjwvc3ZnPg0K");
	background-position:right 0;
	background-repeat:no-repeat;
	border:none;
	border-radius:8px;
	color:#393e41;
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:600;
	height:44px;
	line-height:44px;
	margin:0 auto;
	min-height:44px;
	padding:0 10px;
	padding-right:44px;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	vertical-align:middle;
	-webkit-appearance:none;
	width:100%;
	text-overflow:ellipsis;
}

/*=====================================================
  Mobile Lists
=====================================================*/

.indicator{ border-left:8px solid transparent; }


/*=============================================================================
  Event Details / Filter Content Modals
=============================================================================*/

.modal {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	width: 300px;
}

.modal {
	position: absolute;
	display: none;
}

/*=============================================================================
  Buttons
=============================================================================*/
/* hide chrome number ticker */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
// scss-lint:enable all
