.RouteManagerComponent {
  background: white;
  overflow-y: scroll;

  h4:first-child {
    margin-top: 0;
  }

  .routeItemContainer {
    width: 100%;
    /* padding: 5px; */
    margin: 10px 0;
    border: 1px dotted gray;
  }

}